<div>
    <div class="aboutSectionWhite">
        <div class="container">
            <div class="row" style="text-align:center">
                <p class="hero-heading-black">Your Privacy</p>
            </div>
            <div class="row text-center center-block">
                <div class="col-md-12" style="text-align:left">
                    <p class="hero-heading-black-xs"><strong>Information for Child Care Providers</strong></p>
                    <p class="hero-heading-black-xs">
                        GigglesWare knows the importance of maintaining the privacy of your child care data, any kid information and any other information that is sensitive to you.
                        Hence we don't share your data and other sensitve information with any person or source or social media whatsoever. All the data and logs stored for a kid
                        are only shared with the parents or guardians only when the day care triggers them to be shared via email or emergency contact.
                    </p>
                    <br />
                    <p class="hero-heading-black-xs"><strong>Information for Parents</strong></p>
                    <p class="hero-heading-black-xs">
                        GigglesWare doesn't share any data of parents with any source or person or social media whatsoever. Parents can only register with GigglesWare only if
                        the child care has listed the parents email as guardian for the kids that they have added to the system. Parents or Child Care provider can decide to delete
                        their data whenever they need and GigglesWare does not archive or save the data any where and is purely deleted.
                    </p>
                    <p class="hero-heading-black-xs"><strong>What information do we gather?</strong></p>
                    <p class="hero-heading-black-xs">
                        We collect information like email, child care name and others when you
                        <ul>
                            <li>
                                Register as child care provider with us
                            </li>
                            <li>
                                When you register a child under your child care
                            </li>
                            <li>
                                When you register as a parent or guardian for a kid in a child care
                            </li>
                            <li>
                                When you log information and reports for a child activities on a daily basis
                            </li>
                        </ul>
                    </p>
                    <p class="hero-heading-black-xs"><strong>How is your information protected?</strong></p>
                    <p class="hero-heading-black-xs">
                        We employ a Secured Socket Layer (SSL) certificate on our servers to transfer the data securely between the user and GigglesWare server. All the data
                        emitted by the server to the user and back from the user to the server is encrypted as well so the sensitive information is not at risk. A variety of
                        other measures are taken to prevent other well known attacks.
                    </p>
                    <br />
                    <br />
                    <p class="hero-heading-black-xs">
                        We go an extra mile and do everything to safegaurd your information, however no data over the internet is not secure 100%.
                        Subject to the above provisions, by using our Website and the Service, you consent to the terms of this Privacy Policy.
                        We may change our Privacy Policy from time to time as new features or services are added, suggestions from users are incorporated
                        or other changes are made.
                        <br />
                        <br />
                        If you would like to make corrections or provide any suggestions or improvements, please <a href="mailto:gigglesware@gmail.com">Contact Us</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-include="'partials/footer.html'"></div>

