<div class="container-fluid" data-ng-controller="schedulesController as sCntrl" data-ng-init="sCntrl.onLoad()">
    <br />
    <h1 style="text-align: center" class="hero-heading-s">{{ heading }}</h1>
    <div class="col-md-8 serviceDiv" style="float: none;margin: 0 auto;">
        <div data-ng-hide="hideSchedule">
            <br />
            <button class="btn btn-primary icon-save" style="float: left" data-ng-hide="role==='parent'" data-ng-click="heading='Adding Schedule';addSchedule=true">
                + Add Schedule
            </button>
            <br />
            <br />
            <div data-ng-show="warning&&!addSchedule" class="alert alert-info alert-dismissable">
                {{ warning }}
            </div>
            <div data-ng-show="error" class="alert alert-danger">
                <button type="button" class="close" data-ng-click="error=false"
                        aria-hidden="true">
                    &times;
                </button>
                {{ error }}
            </div>
            <div data-ng-show="success" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-ng-click="success=false"
                        aria-hidden="true">
                    &times;
                </button>
                {{ success }}
            </div>
            <div class="list-group" data-ng-hide="addSchedule">
                <div class="list-group-item" data-ng-repeat="schedule in schedules">
                    <a href="#" style="text-decoration:none;color:black" data-ng-click="showDetails = ! showDetails">
                        <div>
                            <span class="roboto"><i class="fa fa-calendar fa-3" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{ schedule.Name }}</span>
                        </div>
                    </a>
                    <div data-ng-show="showDetails" class="animate-shiny">
                        <br />
                        <div style="text-align:right">
                            <a href="#" style="text-decoration:none" ng-attr-title="Close" data-ng-click="showDetails = ! showDetails">
                                <i class="fa fa-times" style="font-size:24px;color:orange;"></i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a href="#" style="text-decoration:none" ng-attr-title="Share" data-ng-click="showCopy=!showCopy">
                                <i class="fa fa-share-square-o" style="font-size:24px;color:green;"></i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a href="#" style="text-decoration:none" ng-attr-title="Email" data-ng-hide="role==='parent'" data-ng-click="showKids=!showKids;sCntrl.getKids()">
                                <i class="fa fa-envelope-o" style="font-size:24px;"></i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a href="#" style="text-decoration:none" ng-attr-title="Delete" data-ng-hide="role==='parent'" data-ng-click="removeSchedule(schedule.Id);">
                                <i class="fa fa-trash-o" style="font-size:24px;color:red;"></i>
                            </a>
                            <br />
                            <div data-ng-show="showCopy" style="text-align:left">
                                <br />
                                <input id="txtCopy" type="text" data-ng-model="schedule.Url" class="form-control" onfocus="this.select()" autofocus />
                                <br />
                                <button class="btn btn-secondary btn-sm" style="float: right" data-ng-click="sCntrl.copyUrl()">
                                    Copy
                                </button>
                                <button class="btn btn-secondary btn-sm" style="float: left" data-ng-click="showCopy=!showCopy;">Cancel</button>
                                <br />
                            </div>
                            <div data-ng-show="showKids" style="text-align:left">
                                <table>
                                    <tr>
                                        <td>
                                            <select data-ng-model="selectedKids" ng-options="k.FName+' '+k.LName for k in kids" multiple></select>
                                        </td>
                                        <td>
                                            <div style="vertical-align:central">&nbsp;<label>OR</label>&nbsp;</div>
                                        </td>
                                        <td>
                                            <input type="email" data-ng-model="emailId" maxlength="200" class="form-control" placeholder="Type Email here" />
                                        </td>
                                    </tr>
                                </table>
                                <br />
                                <button class="btn btn-secondary btn-sm" style="float: right" data-ng-click="sCntrl.email(schedule,selectedKids,emailId);showKids=!showKids">
                                    Send
                                    <i class="fa fa-cog fa-spin ng-hide" data-ng-show="showSpin"></i>
                                </button>
                                <button class="btn btn-secondary btn-sm" style="float: left" data-ng-click="showKids=!showKids">Cancel</button>
                                <br />
                            </div>
                        </div>
                        <br />
                        <div class="list-group">
                            <div class="list-group-item" style="background-color:#d9edf7" data-ng-repeat="message in schedule.Messages">
                                <span class="robotoNoStyle">{{message.Time}}&nbsp;{{message.Message}}</span>
                                <a href="#" style="text-decoration:none" ng-attr-title="Edit" data-ng-hide="role==='parent'" data-ng-click="sCntrl.editScheduleSlot(message);edit=true;">
                                    <i class="fa fa-pencil" style="font-size:20px;color:orange;"></i>
                                </a>
                                <a href="#" style="text-decoration:none" ng-attr-title="Delete" data-ng-hide="role==='parent'" data-ng-click="sCntrl.removeScheduleMessage(schedule,message.MessageId)">
                                    <i class="fa fa-trash" style="font-size:20px;color:red;"></i>
                                </a>
                                <span data-ng-show="edit"><br /><br /></span>
                                <div class="card" data-ng-show="edit">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><schedule-time schedule-mode="1" schedule-times="times" schedule-time="buffer.From"></schedule-time></li>
                                        <li class="list-group-item"><schedule-time schedule-mode="1" schedule-times="times" schedule-time="buffer.To"></schedule-time></li>
                                        <li class="list-group-item"><input type="text" style="vertical-align:top" data-ng-model="buffer.Message" class="input-dropdown" placeholder="Description" /></li>
                                        <li class="list-group-item">
                                            <div>
                                                <button class="btn btn-default .navbar-left" data-ng-click="edit=false">
                                                    X
                                                </button>
                                                <button class="btn btn-default .navbar-left" data-ng-click="sCntrl.saveScheduleSlot(message);edit=false;">
                                                    Save
                                                    <i class="fa fa-cog fa-spin ng-hide" data-ng-show="showSpinSave"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-show="addSchedule" class="animate-shiny">
            <br />
            <input type="text" placeholder="Enter schedule title here" class="textwithoutBorder" ng-model="scheduleName" /><br /><br />
            <schedule-time schedule-mode="1" schedule-times="times" schedule-time="schedule.From" place-holder="schedule.FromPlaceHolder"></schedule-time>
            <schedule-time schedule-mode="1" schedule-times="times" schedule-time="schedule.To" place-holder="schedule.ToPlaceHolder"></schedule-time>
            <div class="input-group">
                <input type="text" style="vertical-align:top" data-ng-model="schedule.Desc" class="input-dropdown" placeholder="Description" />
                <button class="btn" data-ng-click="sCntrl.addScheduleSlot()">
                    <i class="fa fa-plus fa-3" aria-hidden="true"></i>
                </button>
            </div>
            <br />
            <div class="list-group">
                <div class="list-group-item" style="background-color:#d9edf7" data-ng-repeat="slot in slots track by $index">
                    <span class="robotoNoStyle">{{slot.From}}-{{slot.To}}&nbsp;{{slot.Desc}}</span>
                    <button class="btn btn-xs btn-warning pull-right" data-ng-click="sCntrl.removeScheduleSlot($index)"><strong>X</strong></button>
                </div>
            </div>
            <br />
            <div>
                <button class="btn btn-default .navbar-left" data-ng-click="addSchedule=false;hideSchedule=false;error=''">
                    X
                </button>
                <button class="btn btn-default .navbar-left" data-ng-show="slots.length>0" data-ng-click="sCntrl.addSchedule();addSchedule=false;hideSchedule=false">
                    Add
                    <i class="fa fa-cog fa-spin ng-hide" data-ng-show="showSpin"></i>
                </button>
            </div>
        </div>
        <br />
    </div>
</div>
<br />
<br />
</div>
