<div class="container">
    <br />
    <div class="col-md-4 col-md-offset-4" data-ng-controller="signupController as signUp" style="text-align: center" data-ng-init="signUp.setBodyCss()">
        <h1 class="hero-heading-black">Sign Up</h1>
        <br />
        <br />
        <button class="btn btn-primary" data-ng-click="signUp.dayCareSignUp()">Sign Up As Family Day Care</button><br />
        <br />
        <br />
        <button class="btn btn-primary" data-ng-click="signUp.parentSignUp()">Sign Up As Parent/Guardian</button>
    </div>
</div>

